.navbar-nav .nav-link {
    color: #ECDFCC !important;
    padding: 8px 16px;
    border-radius: 999px;
    transition: 0.3s ease;
    font-weight: 500;
}

.navbar-nav .nav-link:hover {
    background-color: #3C3D37;
    color: #FFFFFF !important;
}

.navbar-nav .nav-link.active {
    background-color: #697565 !important;
    color: #FFFFFF !important;
    font-weight: 600;
}

.dropdown-menu {
    background-color: #181C14;
}

.dropdown-menu .dropdown-item {
    color: #ECDFCC;
}

.dropdown-menu .dropdown-item:hover {
    background-color: #3C3D37;
    color: #FFFFFF;
}

.navbar {
    height: 70px;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
    position: sticky;
    top: 0;
    z-index: 999;
}

.nav-logo {
    height: 56px;
    max-height: 56px;
    width: auto;     
    object-fit: contain;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-collapse {
    background-color: #181C14;
    transition: all 0.3s ease;
}

.navbar-nav .nav-link {
    color: #ECEFCC !important;
}

.navbar-nav .nav-link:hover {
    color: #C4C4C4 !important;
}
.navbar-brand:hover {
    color: #ECEFCC !important;
    opacity: 0.8;
}


@media (max-width: 991.98px) {
    .navbar .container {
        padding-left: 0;
        padding-right: 0;
    }
}

.navbar-collapse {
    background-color: #181C14;
    padding: 10px 20px;
}

.navbar-nav {
    padding-left: 0 !important;
    margin-left: 0 !important;
}
.nav-link {
    position: relative;
    padding-bottom: 5px;
}

.nav-link::after {
    content:"";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background: #697565;
    transition: 0.3s;
    border-radius: 2px;
}

.nav-link:hover::after {
    width: 100%;
}

.nav-item {
    margin: 0 8px;
}

.navbar-brand img {
    transition: 0.2s ease;
}

.navbar-brand img:hover {
    transform: scale(1.05);
}
.nav-link.active {
    color: #ECEFCC !important; /* lighter */
    font-weight: 600;
}
